
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>

<div class="content" role="main">

  <h2>{{projectTitle}}</h2>
  <p>{{desc}}</p>  
  <button (click)="fetchEmployee(fetchEmployeesEl)"  #fetchEmployeesEl url="fetchEmployees">Get Employee Details</button>
  <button (click)="fetchEmployee(moreEmployeeEl)"  #moreEmployeeEl url="moreEmployeeData">Fetch More Records </button>
</div>

  <hr/>

  <mat-table [hidden]="isShowDiv" [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef> userId. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
    </ng-container>
  
    <!-- jobTitleName Column -->
    <ng-container matColumnDef="jobTitleName">
      <mat-header-cell *matHeaderCellDef> jobTitleName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.jobTitleName}} </mat-cell>
    </ng-container>
  
    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> firstName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>
  
    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> lastName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

     <!-- lastName Column -->
     <ng-container matColumnDef="preferredFullName">
      <mat-header-cell *matHeaderCellDef> preferredName</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.preferredFullName}} </mat-cell>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="employeeCode">
      <mat-header-cell *matHeaderCellDef> empCode </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.employeeCode}} </mat-cell>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef> region </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.region}} </mat-cell>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef> phoneNumber </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="emailAddress">
      <mat-header-cell *matHeaderCellDef> emailAddress </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.emailAddress}} </mat-cell>
    </ng-container>


  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  



